// fonts
$arvo: 'Arvo', serif;
$raleway: 'Raleway', sans-serif;

// font sizes
$h1size: 40px;
$h2size: 30px;


// equilateral triangles
$tsize: 85; //need to change tmovx in scripts.js when this is changed
$tsize2: ($tsize * 2) * 0.866;
$triangleborder: $tsize solid transparent;
$triangleside: $tsize2 solid black;

// colors
$primary-color: #555;
$hover-color: #999;

/* --------------------------------------------------------- FONTS */
body, html {
	margin: 0;
	padding: 0;
	font: 100% $raleway;
	color: $primary-color;
}


h1 {
    font-size: $h1size;
    font: 100% $raleway;
    color: $primary-color;
}

a {
	font: 100% $arvo;
	color: $primary-color;
	text-decoration: none;
}

a:hover {
	color: $hover-color;
}


/* -------------------------------------------------------- HOMEPAGE */
#top {
	background: #000;
	height: 10px;
}



#container {
	max-width: 100%;
	height: 100%;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
}

#containerbg {
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-attachment:fixed;
    -webkit-filter: blur(5px);
    -khtml-opacity:.50; 
    -moz-opacity:.50; 
    -ms-filter:"alpha(opacity=50)";
     filter:alpha(opacity=50);
     filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.5);
     opacity:.50; 
    -webkit-filter: grayscale(100%);
    position:absolute;
    width: 100%;
    height:100%;
}

#menu {
	margin-top: 3.5%;
	width: 80%;
	height: 5%;
	position:relative;
	margin-left: auto;
	margin-right: auto;
	font-size: $h1size;
    padding-bottom: 10px;
    border-bottom: 5px solid #000;		
}


#w-wrapper {
    padding: 20px;
    max-width: 60%;
	position: relative;
	margin-left: auto;
    margin-right: auto;
    margin-top: 6%;
}


#triangle-up {
    width: 0;
    height: 0;
    border-left: $triangleborder; 
    border-right: $triangleborder;
    border-bottom: $triangleside;
    transition: border-bottom-color 0.5s ease-in-out;
    &:hover { border-bottom-color: rgba(255,255,255,0.5); }
}

#triangle-down {
    width: 0;
    height: 0;
    border-left: $triangleborder; 
    border-right: $triangleborder;
    border-top: $triangleside;
    transition: border-top-color 0.5s ease-in-out;
    &:hover { border-top-color: rgba(255,255,255,0.5); }
}

#artlink {
    font-size: $h2size;
    line-height: $h2size + 50;
    margin-top: -$tsize2 * 1.4;
    margin-left: $tsize * 2 + 10;
    position: absolute;
}

#codelink {
    font-size: $h2size;
    line-height: $h2size + 50;
    margin-top: - $tsize2 * 1.4;
    margin-left: $tsize * 6 + 7;
    position: absolute;
}
     
#footer {
	position: absolute;
	bottom: 0;
    margin: 0;
	width: 100%;
	background: #000;
	height: 10px;
}

/* ----------------------------------------------- RESPONSIVE STRUCT */
@media (max-width: 800px) {
       /* Smaller Resolution Desktops and Laptops */
}
@media (max-width: 650px) {
       /* Smaller devices */
}
@media (max-width: 450px) {
       /* Even Smaller devices */
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
       /* Even Smaller devices */
}
