/* --------------------------------------------------------- FONTS */
body, html {
  margin: 0;
  padding: 0;
  font: 100% "Raleway", sans-serif;
  color: #555555; }

h1 {
  font-size: 36px;
  font: 100% "Raleway", sans-serif;
  color: #000; }

a {
  font: 100% "Arvo", serif;
  color: #555555;
  text-decoration: none; }

a:hover {
  color: white; }

/* -------------------------------------------------------- HOMEPAGE */
#top {
  background: #000;
  height: 10px; }

#container {
  max-width: 100%;
  min-height: 95%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden; }

#menu {
  margin-top: 20px;
  width: 80%;
  height: 5%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  font-size: 36px;
  padding-bottom: 10px;
  border-bottom: 5px solid #000; }
  #menu a {
    text-align: right; }

#w-wrapper {
  padding: 20px;
  max-width: 60%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4%; }

#triangle-up {
  width: 0;
  height: 0;
  border-left: 85 solid transparent;
  border-right: 85 solid transparent;
  border-bottom: 147.22 solid black; }

#triangle-down {
  width: 0;
  height: 0;
  border-left: 85 solid transparent;
  border-right: 85 solid transparent;
  border-top: 147.22 solid black; }

#artlink {
  font-size: 30px;
  line-height: 80px;
  margin-top: -206.108;
  margin-left: 180;
  position: absolute; }

#codelink {
  font-size: 30px;
  line-height: 80px;
  margin-top: -206.108;
  margin-left: 517;
  position: absolute; }

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #000;
  height: 10px; }

/* ----------------------------------------------- RESPONSIVE STRUCT */
@media (max-width: 800px) {
  /* Smaller Resolution Desktops and Laptops */ }
@media (max-width: 650px) {
  /* Smaller devices */ }
@media (max-width: 450px) {
  /* Even Smaller devices */ }
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* Even Smaller devices */ }
